**/bin
**/obj
**/out
**/.vs
**/.vscode
**/node_modules
**/wwwroot/lib
**/wwwroot/dist
**/*.user
**/*.tmp
**/logs
**/temp
**/tmp
**/.git
**/.gitignore
**/README.md
**/LICENSE
**/.dockerignore
**/Dockerfile*